.carousel-row {

  background-color: rgba(163, 165, 175, 0.4);
  /*margin: 20px;*/
  margin-top: 20px;
  margin-bottom: 20px;
  height: 22%
}
.pdf-carousel{
   padding-left: 5%;
    margin-right: auto;

}

.pdf-box {
  display: inline-block;
  width: 220px;
  height: 85%;
  /*margin: 1em 5px;*/
  margin: -10px 5px;
  background-color: rgba(107, 116, 109, 1);
}
.pdf-box:hover {
  background-color: rgba(106, 225, 83, .7);
  -webkit-transition: background 500ms ease-out;
  -moz-transition: background 500ms ease-out;
  -ms-transition: background 500ms ease-out;
  -o-transition: background 500ms ease-out;
  transition: background 500ms ease-out;

}
.carousel_icon {
  float: left;
}
.pdf-frame {
  height: 100%;
}

.pdf-box h5 {
  margin-top: 20px;
  padding-left: 50%;
  display: inline;
  font-size: 12px;
}
.nav-box-left{
  height: 100%;
  /*width: -20%;*/
  /*margin-top: px;*/
  padding-right: 5%;
  background-color: rgba(106, 225, 83, 0.5);
  outline: 4px inset rgb(106, 225, 83);
  outline-offset: -30%;
}
.nav-box-right{
  height: 100%;
  /*margin-top: px;*/
  padding-left: 5%;
  background-color: rgba(106, 225, 83, 0.5);
  outline: 4px inset rgb(106, 225, 83);
  outline-offset: 0px;
}
.nav-arrow {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-20%);
  font-size: 24px;
}
.nav-arrow1: {
  background-color: rgba(107, 116, 109, 0.6);
  color:red;
}
.nav-box-right:hover: {
  background-color: rgba(107, 116, 109, 0.6);
  cursor:pointer;
}

.nav-box-left:hover: {
  background-color: rgba(107, 116, 109, 0.6);
  cursor: pointer;
}

.nav-arrow:hover{
  cursor: pointer;
}
/* when hiding the picture */

/*.ng-hide-add {
   animation:0.5s lightSpeedOut ease;
}*/

/* when showing the picture */

/*.ng-hide-remove {
   animation:0.5s flipInX ease;
  }*/

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}




/*.animate-enter,
.animate-leave
{
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.animate-enter {
    left: -100%;
}
.animate-enter.animate-enter-active {
    left: 0;
}

.animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active{
    left: 100%;
}*/
.map-move {
  transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
  height: 75%;
}
