<!--Table column names-->
<table class="table">
  <thead>
    <th class="text-primary">DOCID</th>
    <th class="text-primary">DOCUMENT TYPE</th>
    <th class="text-primary">SHEET DESCRIPTION</th>
    <th class="text-primary">ENGINEERING FIRM</th>
    <th class="text-primary">ALIAS</th>
    <th class="text-primary">WATER</th>
    <th class="text-primary">SEWER</th>
    <th class="text-primary">REUSE</th>
    <th class="text-primary">STORM</th>
    <th class="text-primary">STREET 1</th>
    <th class="text-primary">STREET 2</th>
    <th class="text-primary">STREET 3</th>
    <th class="text-primary">STREET 4</th>
    <th class="text-primary">TAGS</th>
    <th class="text-primary">VIEW SHEET</th>
  </thead>
  <tbody>
    <!--table view -->
    <tr class="table-view" ng-repeat="doc in project">
      <td ng-hide="doc.edit" ng-click="edit(doc)">{{doc.attributes.DOCID}}</td>
      <td ng-show="doc.edit"><input class="form-control form-inputs" type="number" ng-model="doc.attributes.DOCID" placeholder="Add Doc Id..."/></td>
      <td ng-hide="doc.edit" ng-click="edit(doc)" >{{doc.attributes.DOCUMENTTYPE}}</td>
      <td ng-show="doc.edit">
        <select ng-options="dt.attributes.DOCUMENTTYPE for dt in docTypes" class="form-control form-inputs" id="info.name" ng-model="doc.attributes.DOCTYPEID" >
          <option value="">--Select--</option>
        </select>
      </td>
      <td ng-hide="doc.edit" ng-click="edit(doc)" >{{doc.attributes.SHEETTYPE}}</td>
      <td ng-show="doc.edit">
        <select ng-options="sheet.attributes.SHEETTYPE for sheet in sheetTypes" class="form-control form-inputs" id="info.name" ng-model="doc.attributes.SHEETTYPEID" >
          <option value="">--Select--</option>
        </select>
      </td>
      <td ng-hide="doc.edit" ng-click="edit(doc)" >{{doc.attributes.SIMPLIFIEDNAME}}</td>
      <td ng-show="doc.edit">
        <select ng-options="eng.attributes.SIMPLIFIEDNAME for eng in engTypes" class="form-control form-inputs" id="info.name" ng-model="doc.attributes.ENGID" >
          <option value="">--Select--</option>
        </select>
      </td>
      <td ng-hide="doc.edit" ng-click="edit(doc)" >{{doc.attributes.ALIAS}}</td>
      <td ng-show="doc.edit"><input class="form-control form-inputs" type="text" ng-model="doc.attributes.ALIAS" placeholder="Alias..."/></td>
      <td class="water" ng-hide="doc.edit" ng-click="edit(doc)" >{{doc.attributes.WATER}}</td>
      <td class="water" ng-show="doc.edit">
        <select ng-options="boo.name for boo in selectionOptions.bool" class="form-control form-inputs" id="info.name" ng-model="doc.attributes.WATER.name">
          <option value="">--Select--</option>
        </select>
      </td>
      <td class="sewer" ng-hide="doc.edit" ng-click="edit(doc)" >{{doc.attributes.SEWER}}</td>
      <td class="sewer" ng-show="doc.edit">
        <select ng-options="boo.name for boo in selectionOptions.bool" class="form-control form-inputs" id="info.name" ng-model="doc.attributes.SEWER.name">
          <option value="">--Select--</option>
        </select>
      </td>
      <td class="reuse" ng-hide="doc.edit" ng-click="edit(doc)" >{{doc.attributes.REUSE}}</td>
      <td class="reuse" ng-show="doc.edit">
        <select ng-options="boo.name for boo in selectionOptions.bool" class="form-control form-inputs" id="info.name" ng-model="doc.attributes.REUSE.name">
          <option value="">--Select--</option>
        </select>
      </td>
      <td class="storm" ng-hide="doc.edit" ng-click="edit(doc)" >{{doc.attributes.STORM}}</td>
      <td class="storm" ng-show="doc.edit">
        <select ng-options="boo.name for boo in selectionOptions.bool" class="form-control form-inputs" id="info.name" ng-model="doc.attributes.STORM.name">
          <option value="">--Select--</option>
        </select>
      </td>
      <!--TODO fix for directive -->
      <td ng-hide="doc.edit" ng-click="edit(doc)" >{{doc.attributes.STREET_1}}</td>
      <td ng-show="doc.edit"><autocomplete ng-model="doc.attributes.STREET_1" data="streets" on-type="autoFill" ></autocomplete></td>
      <td ng-hide="doc.edit" ng-click="edit(doc)" >{{doc.attributes.STREET_2}}</td>
      <td ng-show="doc.edit"><autocomplete ng-model="doc.attributes.STREET_2" data="streets" on-type="autoFill" ></autocomplete></td>
      <td ng-hide="doc.edit" ng-click="edit(doc)" >{{doc.attributes.STREET_3}}</td>
      <td ng-show="doc.edit"><autocomplete ng-model="doc.attributes.STREET_3" data="streets" on-type="autoFill" ></autocomplete></td>
      <td ng-hide="doc.edit" ng-click="edit(doc)" >{{doc.attributes.STREET_4}}</td>
      <td ng-show="doc.edit"><autocomplete ng-model="doc.attributes.STREET_4" data="streets" on-type="autoFill" ></autocomplete></td>
      <td ng-hide="doc.edit" ng-click="edit(doc)" >{{doc.attributes.TAGS}}</td>
      <td ng-show="doc.edit"><input class="form-control form-inputs" type="text" ng-model="doc.attributes.TAGS" placeholder="Tags..."/></td>
      <td ng-hide="doc.edit" ng-click="edit(doc)" ><a href="#">View</a></td>
      <td ng-show="doc.edit"><div class="document-upload">Add Document<div></td>
      <td class="delete" ng-show="doc.edit"><p ng-click="tableEdits.delete.row(sheet.attributes.OBJECTID)">X</p></td>
    </tr>

    <!--Add new record View-->
    <tr ng-hide="addDoc" class="newDocument" >
      <td><input class="form-control form-inputs" type="number" ng-model="newDoc.DOCID" placeholder="Add Doc Id..."/></td>
      <td>
        <select ng-change="post(newDoc, 'DOCTYPEID')"  ng-options="dt.attributes.DOCUMENTTYPE for dt in docTypes" class="form-control form-inputs" ng-model="newDoc.DOCTYPEID" >
          <option value="">--Select--</option>
        </select>
      </td>
      <td>
        <select ng-change="post(newDoc, 'SHEETTYPEID')" ng-options="sheet.attributes.SHEETTYPE for sheet in sheetTypes" class="form-control form-inputs" ng-model="newDoc.SHEETTYPEID" >
          <option value="">--Select--</option>
        </select>
      </td>
      <td>
        <select ng-change="post(newDoc, 'ENGID')" ng-options="eng.attributes.SIMPLIFIEDNAME for eng in engTypes" class="form-control form-inputs" ng-model="newDoc.ENGID" >
          <option value="">--Select--</option>
        </select>
      </td>
      <td><input class="form-control form-inputs" type="text" ng-model="newDoc.ALIAS" placeholder="Alias..."/></td>
      <td class="water">
        <select ng-options="boo.name for boo in selectionOptions.bool" class="form-control form-inputs" ng-model="newDoc.WATER">
          <option value="">--Select--</option>
        </select>
      </td>
      <td class="sewer">
        <select ng-options="boo.name for boo in selectionOptions.bool" class="form-control form-inputs" ng-model="newDoc.SEWER">
          <option value="">--Select--</option>
        </select>
      </td>
      <td class="reuse">
        <select ng-options="boo.name for boo in selectionOptions.bool" class="form-control form-inputs" ng-model="newDoc.REUSE">
          <option value="">--Select--</option>
        </select>
      </td>
      <td class="storm">
        <select ng-options="boo.name for boo in selectionOptions.bool" class="form-control form-inputs" ng-model="newDoc.STORM">
          <option value="">--Select--</option>
        </select>
      </td>
      <!--TODO fix for directive -->
      <td><autocomplete ng-model="doc.attributes.STREET_1" data="streets" on-type="autoFill" ></autocomplete></td>
      <td><autocomplete ng-model="doc.attributes.STREET_2" data="streets" on-type="autoFill" ></autocomplete></td>
      <td><autocomplete ng-model="doc.attributes.STREET_3" data="streets" on-type="autoFill" ></autocomplete></td>
      <td><autocomplete ng-model="doc.attributes.STREET_4" data="streets" on-type="autoFill" ></autocomplete></td>
      <td><input class="form-control form-inputs" type="text" ng-model="newDoc.TAGS" placeholder="Tags..."/></td>
      <td><input type="file" class="document-upload" defaultValue="Add Document"></td>
    </tr>
  </tbody>
</table>
<!--Add new document button-->
<div ng-show="addDoc" ng-click="add()" class="add-button">ADD NEW DOCUMENT</div>
