<!--NEW TEST STUFF-->
<table class="table">
  <thead>
    <th class="text-primary">DOCID</th>
    <th class="text-primary">DOCUMENT TYPE</th>
    <th class="text-primary">SHEET DESCRIPTION</th>
    <th class="text-primary">ENGINEERING FIRM</th>
    <th class="text-primary">ALIAS</th>
    <th class="text-primary">WATER</th>
    <th class="text-primary">SEWER</th>
    <th class="text-primary">REUSE</th>
    <th class="text-primary">STORM</th>
    <th class="text-primary">STREET 1</th>
    <th class="text-primary">STREET 2</th>
    <th class="text-primary">STREET 3</th>
    <th class="text-primary">STREET 4</th>
    <th class="text-primary">TAGS</th>
    <th class="text-primary">VIEW SHEET</th>
  </thead>
  <tbody>
    <!--Edit View-->
    <tr id="edit" class="tableedit" ng-show="doc.edit" ng-click="edit(doc)" ng-repeat="doc in project">
      <td><input class="form-control form-inputs" type="number" ng-model="doc.attributes.DOCID" placeholder="Add Doc Id..."/></td>
      <td>
        <select ng-options="sheet.attributes.SHEETTYPE for sheet in sheetTypes" class="form-control form-inputs" id="info.name" ng-model="doc.attributes.DOCTYPEID" >
          <option value="">--Select Document Type--</option>
        </select>
      </td>
      <td>
        <select ng-options="dt.attributes.DOCUMENTTYPE for dt in docTypes" class="form-control form-inputs" id="info.name" ng-model="doc.attributes.SHEETTYPEID" >
          <option value="">--Select Sheet Description--</option>
        </select>
      </td>
      <td>
        <select ng-options="eng.attributes.SIMPLIFIEDNAME for eng in engTypes" class="form-control form-inputs" id="info.name" ng-model="doc.attributes.ENGID" >
          <option value="">--Select Engineering Firm--</option>
        </select>
      </td>
      <td><input class="form-control form-inputs" type="text" ng-model="doc.attributes.ALIAS" placeholder="Alias..."/></td>
      <td class="water">
        <select ng-options="boo.name for boo in selectionOptions.bool" class="form-control form-inputs" id="info.name" ng-model="doc.attributes.WATER">
          <option value="">--Select--</option>
        </select>
      </td>
      <td class="sewer">
        <select ng-options="boo.name for boo in selectionOptions.bool" class="form-control form-inputs" id="info.name" ng-model="doc.attributes.SEWER.name">
          <option value="">--Select--</option>
        </select>
      </td>
      <td class="reuse">
        <select ng-options="boo.name for boo in selectionOptions.bool" class="form-control form-inputs" id="info.name" ng-model="doc.attributes.REUSE">
          <option value="">--Select--</option>
        </select>
      </td>
      <td class="storm">
        <select ng-options="boo.name for boo in selectionOptions.bool" class="form-control form-inputs" id="info.name" ng-model="doc.attributes.STORM">
          <option value="">--Select--</option>
        </select>
      </td>
      <!--TODO fix for directive -->
      <td><autocomplete ng-model="doc.attributes.STREET_1" data="streets" on-type="autoFill" ></autocomplete></td>
      <td><autocomplete ng-model="doc.attributes.STREET_2" data="streets" on-type="autoFill" ></autocomplete></td>
      <td><autocomplete ng-model="doc.attributes.STREET_3" data="streets" on-type="autoFill" ></autocomplete></td>
      <td><autocomplete ng-model="doc.attributes.STREET_4" data="streets" on-type="autoFill" ></autocomplete></td>
      <td><input class="form-control form-inputs" type="text" ng-model="doc.attributes.TAGS" placeholder="Tags..."/></td>
      <td>Add Document</td>
      <td class="delete"><p ng-click="tableEdits.delete.row(sheet.attributes.OBJECTID)">X</p></td>
    </tr>
    <!--Plain View-->
    <tr ng-hide="doc.edit" class="tableview" ng-attr-id="{{'normal' + doc.attributes.DOCID}}" ng-click="edit(doc)" ng-repeat="doc in project">
      <td>{{doc.attributes.DOCID}}</td>
      <td>{{doc.attributes.DOCUMENTTYPE}}</td>
      <td>{{doc.attributes.SHEETTYPE}}</td>
      <td>{{doc.attributes.SIMPLIFIEDNAME}}</td>
      <td>{{doc.attributes.ALIAS}}</td>
      <td class="water">{{doc.attributes.WATER}}</td>
      <td class="sewer">{{doc.attributes.SEWER}}</td>
      <td class="reuse">{{doc.attributes.REUSE}}</td>
      <td class="storm">{{doc.attributes.STORM}}</td>
      <td>{{doc.attributes.STREET_1}}</td>
      <td>{{doc.attributes.STREET_2}}</td>
      <td>{{doc.attributes.STREET_3}}</td>
      <td>{{doc.attributes.STREET_4}}</td>
      <td>{{doc.attributes.TAGS}}</td>
      <td><a href="#">View</a></td>
      <td class="delete"><p ng-click="tableEdits.delete.row(sheet.attributes.OBJECTID)">X</p></td>
    </tr>
  </tbody>
</table>
