<!--NavBar -->
<!-- <nav class="navbar navbar-inverse mapNavBar" role="navigation">
    <ul class="nav navbar-nav">
      <li><a ng-href="#">Add Project</a></li>
      <li><a ng-href="#">Add Document</a></li>
      <li><a ng-href="#/instructions">Instructions</a></li>
      <li class="active"><a ng-href="#/map">Map</a></li>
      <li><a ng-href="#/stats">Stats</a></li>
    </ul>
</nav> -->

<!-- </div> -->

<!--Map Project Seach Bar and Table -->
<div class="mapSearch">
  <autocomplete ng-model="map.search" data="projects" on-type="autoFillProjects" on-select="searchControl" attr-placeholder="Find a project..." class="mapSearchStyle"></autocomplete>
</div>
<table class="table mapTable" ng-show="searchStatus">
  <thead>
    <th class="text-primary">Key</th>
    <th class="text-primary">Value</th>
  </thead>
  <tbody class="mapTableBody">
    <tr ng-repeat="(key, value) in project_info">
      <td>{{key}}</td>
      <td>{{value}}</td>
    </tr>
  </tbody>
</table>

<!-- Map -->
<div class="container-fluid fill">
    <leaflet center="center" legend="legend" layers="layers" geojson="geojson" paths="paths" markers="markers"></leaflet>
</div>
<!-- Print -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Print Map</h4>
      </div>
      <div class="modal-body">
        <form name="form" validate class="css-form">
        dpi: <input type="number" ng-model="dpi" class="form-control form-inputs"></input><br>
        Export Type: <select ng-options="type for type in printFormatList" class="form-control form-inputs" ng-model="print_format">
          <option value="">Select Export Type</option>
        </select>
        Export Size: <select ng-options="type.size for type in exportSizes" class="form-control form-inputs" ng-model="output">
          <option value="">Select Export Size</option>
        </select>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="printMap()" class="btn btn-primary">Print</button>
      </div>
    </div>
  </div>
</div>


<!-- Documents -->
<div class="mapDocs" ng-show="project_docs">
<div class="panel-group" id="accordion">
  <div class="panel panel-default" ng-repeat="doc in project_docs" data-drag="true" ng-model="list1" jqyoui-draggable="{animate:true}" ng-hide="!list1.title" id="{{doc.resid}}">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#{{doc.name}}">
        <img src={{doc.icon}} width="20px" height="20px" /> {{doc.name}}  <a class="fullview pull-right" href="/#/document/{{doc.name}}">Full View</a>
        </a>
      </h4>
    </div>
    <div id="{{doc.name}}" class="panel-collapse collapse">
      <div class="panel-body">
        <iframe name="{{doc.name}}" width="100%" ng-src="{{doc.url}}"><a  href="{{doc.url}}>">Full View</a></iframe>
      </div>
    </div>
  </div>
</div>
</div>
<!-- </div> -->
