<div class="container-fluid">
  <h1 class="page-header">{{projectid}}</h1>
  <div class="row project-view">

    <div class="col-md-4">
    <!--Document Chart-->
    <h1>Documents Break Down</h1>
    <canvas id="myChart"  width="400" height="400"></canvas>

    <!-- Map -->
    <h1>Project Bounds</h1>
    <leaflet id="project-map" width="400" height="400"></leaflet>
  </div>
  <div class="col-md-4">
    <!-- <h1>Project Information</h1><br> -->
    <!--Basic Info-->
    <project-table project="projectInfo" ></project-table>
  </div>
  </div>

</div>
