<!-- <nvd3-line-chart
        data="exampleData"
        showXAxis="true"
        showYAxis="true"
        tooltips="true"
        interactive="true">
    </nvd3-line-chart> -->

    <!-- <nvd3-stacked-area-chart
    data="exampleData"
    width="600"
    height="350"
    showXAxis="true"
    showYAxis="true">
</nvd3-stacked-area-chart> -->

<nvd3-discrete-bar-chart
    	data="exampleData"
        id="exampleId"
        showXAxis="true"
        showYAxis="true"
        xAxisTickFormat="xAxisTickFormatFunction()"
        width="550"
        height="400">
        	<svg></svg>
    </nvd3-discrete-bar-chart>

    <nvd3-discrete-bar-chart
    	data="exampleData"
        id="colorExample"
        width="550"
        height="300"
        xAxisTickFormat="xAxisTickFormatFunction()"
        showXAxis="true"
        showYAxis="true"
        color="colorFunction()">
        	<svg></svg>
    </nvd3-discrete-bar-chart>


<nvd3-discrete-bar-chart
    	data="exampleData"
        id="toolTipExample"
        showXAxis="true"
        showYAxis="true"
        width="550"
        height="350"
        xAxisTickFormat="xAxisTickFormatFunction()"
        tooltips="true">
        	<svg></svg>
    </nvd3-discrete-bar-chart>



     <nvd3-line-chart
            data="isAreaExampleData"
            id="isAreaDataExample"
            width="550"
            height="300"
            x="xAttributeFunction()"
            y="yAttributeFunction()"
            yAxisTickFormat="yAxisTickFormatFunction()"
            showXAxis="true"
            showYAxis="true">
        <svg></svg>
     </nvd3-line-chart>
<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->
